@media (max-width: 425px){
    body{
        background-image: url(../images/bg-body.png);
    }
    .container{
        margin: 0 auto;
    }
    .logo{
        border-radius: 50%;
    }
    li{
        list-style: none;
        color: black;
        background-color: gray;
        margin-right: 40px;
        text-transform: uppercase;
        margin-bottom: 2px;
        font-family: sans-serif;
    }
    li:visited{
        list-style: none;
        color: black;
        background-color: gray;
        margin-right: 40px;
        text-transform: uppercase;
        margin-bottom: 2px;
    }
    *{
        text-align: center;
    }
    a{
        text-decoration: none;
    }
    .banner img{
        display: none;
    }
    h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    p{
        font-family: 'Times New Roman', Times, serif;
    }
    .special{
        position: absolute;
        right:5px;
        margin-top: -52.1%;
        z-index:1;
    }
    .photo{
       margin:0 auto;
       width: 100%;
       position:relative;
    }
    .photo-container{
        text-align:center;
    }
    }
